.search-table
{
  position: fixed;
  top: 20%;
  left: 10%;  
  background-color: white;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.212);
  margin:  0px auto ;
  padding: 5px;
  border-radius: 5px;
}
.d-none
{
  display: none;  
}